<link rel="stylesheet" href="../../public/styles/home.css">
<footer>
    <!-- Your footer content goes here -->
    <p class="footer">&copy; Lisette and her a little webpage 2024 </p>
    <!-- Add other footer content as needed -->
</footer>
