<link rel="stylesheet" href="../../public/styles/home.css">
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/chihiro">Chihiro</a></li>
        <li><a href="/jiji">Jiji</a></li>
        <li><a href="/kikki">Kikki</a></li>
        <li><a href="/kodama">Kodama</a></li>
        <li><a href="/san">San</a></li>
        <li><a href="/setsuko">Setsuko</a></li>
        <li><a href="/totoro">Totoro</a></li>
        <li><a href="/mei">Mei</a></li>        


    </ul>
</nav>
