
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="styles/home.css"/>
<%- include("../partials/header") %>
    <div class="main-content">
        <h1>Welcome to my little Studio Ghibli page!</h1>
        <p>Below you have two choices, either Group One or Group Two</p>
        <div class="main-content">
        
            <button onclick="window.location.href='/groupone'">Group One</button>
            <button onclick="window.location.href='/grouptwo'">Group Two</button>
        </div>
    </div>
    <img src="/images/logo.png" alt="Studio Ghibli Logo"> 
 
</body>
</html>


