
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="styles/home.css"/>
<%- include("../partials/header") %>
    <div class="main-content">
        <h1>Welcome to my little Studio Ghibli page!</h1>
        <p>Below you can find some information about popular characters and the movies you will find them in!</p>
        <ul>
            <li><a href="/chihiro/Chihiro">Chihiro</a></li>
            <li><a href="/jiji/Jiji">Jiji</a></li>
            <li><a href="/kikki/Kikki">Kikki</a></li>
            <li><a href="/kodama/Kodama">Kodama</a></li>
            <li><a href="/san/San">San</a></li>
            <li><a href="/setsuko/Setsuko">Setsuko</a></li>
            <li><a href="/totoro/Totoro">Totoro</a></li>
            <li><a href="/mei/Mei">Mei</a></li>

        </ul>
    </div>
    <img src="/images/logo.png" alt="Studio Ghibli Logo"> 
 
</body>
</html>
