html {
     background-color: #E7EFC5;
     min-height: 100%;
    
}

body {
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
}

h1 {
     color: #A53860;
     font-family: 'Courier New', Courier, monospace;
     text-align: center;
     background-color: #BFD7B5;
     margin-top: 0;
     padding: 30px;
}

p {
     font-family: 'Courier New', Courier, monospace;
     text-align: center;
     padding-bottom: 40px;
}

ul,
a {
     color: #A53860;
     display: flex;
     justify-content: space-around;
     list-style: none;
     text-decoration: none;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
}

ul,
a:hover {
     color: #BFD7B5;
     list-style:disc;
     transition: 0.5s;
}

footer {
     display: flex;
     justify-content: center;
     align-items: flex-end;
     padding: 10px; 

}

img {
     max-width: 60%;
     max-height: 60%;
     display: flex;
     padding-left: 50%;
     padding-top: 3%;
}

button {
     display: flex;
     margin: auto;
     padding: 12px;
     color: #A53860;
     background-color: #BFD7B5;
     font-weight: 12px;
     cursor: pointer;
}